aiodns==2.0.0
aiosmtpd==1.2
atpublic==2.1.1
bottle==0.12.18
cairocffi==1.2.0
CairoSVG==2.5.0
cffi==1.14.3
cssselect2==0.4.1
defusedxml==0.6.0
html5lib==1.1
pdfkit==0.6.1
Pillow==8.0.1
psycopg2==2.8.6
pycares==3.1.1
pycparser==2.20
Pyphen==0.10.0
python-pdf==0.37
pytz==2020.4
six==1.15.0
tinycss2==1.1.0
verify-email==2.4.1
webencodings==0.5.1
